/*EmployeeDirectoryのtableのstyle設定*/
.user_list {
    display: block;
    text-align: center;
    font-size: 24px;
}


/*共通のテーブルスタイル */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 3% auto;
    font-size: 18px;
    line-height: 24px;
    table-layout: fixed;
}

.data-table-header {
    border: 1px solid rgb(119, 118, 118);
    border-width: 1px 0;
    padding: 18px 10px;
    text-align: center;
    height: 75px;
    width: 20%;
}

.data-table-row {
    border-bottom: 1px solid rgb(119, 118, 118);
    padding: 18px 10px;
    text-align: center;
    height: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-table-header-item,
.data-table-row-item,
.name-column {
    text-align: left;
    padding-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* テーブルコンテナ共通スタイル */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    margin: 0 auto 4%;
}

/* 日付別のページネーションのstyle*/
.date_span {
    font-size: 24px;
    font-weight: bold;
    margin: 0 40px;
}

/* ページネーションの共通スタイル */
.custom-date-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-date-pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 26px;
    text-decoration: none;
    color: rgba(2, 84, 246, 0.738);
    font-weight: bold;
    border: 1px solid rgba(2, 84, 246, 0.738);
    font-size: 18px;
    background-color: #ffffff;
    margin: 0;
}

.custom-date-pagination-link:hover {
    background-color: #8cbff5;
}

.custom-count-pagination {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    align-items: center;

}

.custom-count-pagination .page-item {
    display: inline-block;
    margin: 2px;
}

.custom-count-pagination .page-link {
    display: block;
    width: 50px;
    height: 100%;
    color: rgba(2, 84, 246, 0.738);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    background-color: #ffffff;
}

.custom-count-pagination .page-item.active .page-link {
    background-color: rgba(2, 84, 246, 0.738);
    color: #ffffff;
    border-color: rgba(2, 84, 246, 0.738);
}

.custom-count-pagination .page-link:hover {
    background-color: #8cbff5;
}
