/*EmployeeDirectoryのtableのstyle設定*/
.user_list {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

/*共通のテーブルスタイル */
.data-table {
    width: 90%;
    border-collapse: collapse;
    margin: 5% auto;
    font-size: 1rem;
    table-layout: fixed;
}

.data-table th {
    border-bottom: 1px solid rgb(119, 118, 118);
    padding: 18px 10px;
    text-align: center;
    height: 30px;
    width: 20%;
}

.data-table td {
    border-bottom: 1px solid rgb(119, 118, 118);
    padding: 18px 10px;
    text-align: center;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-table .name-column {
    text-align: left;
    padding-left: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* テーブルコンテナ共通スタイル */
.table-container {
    width: 100%;
    background-color: #f4f7d8;
    padding: 16px 0;
}

/* 日付別のページネーションのstyle*/
.date_span {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 20px;
}

/* ページネーションの共通スタイル */
.custom-date-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-date-pagination a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    padding: 5px 8px;
    border: 1px solid rgb(119, 118, 118);
    font-size: 0.7rem;
    background-color: white;
    margin: 0 1px;
}

.custom-date-pagination a:hover {
    background-color: #8cbff5;
}

.custom-count-pagination {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.custom-count-pagination .page-item {
    display: inline-block;
    margin: 0 1px;
}

.custom-count-pagination .page-link {
    padding: 5px 8px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(119, 118, 118);
    font-size: 0.7rem;
    background-color: white;
}

.custom-count-pagination .page-item.active .page-link {
    background-color: blue;
    color: white;
    border-color: blue;
}

.custom-count-pagination .page-link:hover {
    background-color: #8cbff5;
}
