.custom-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:35%;
    height: 80%;
    margin: 7% auto;
}

.form__error {
    height: 1.5rem;
    color: #ff0000;
    text-align: center;
    font-size: 16px;
    margin: 4px;
}

.custom_title {
    text-align: center;
    font-size: 24px;
    margin: 0 auto 7%;
}

.custom-form {
    width: 100%;
    margin: 0 auto;
}

.form_input input {
    width: 100%;
    background-color: #f2f0f0ae;
    border: 2px solid rgba(84, 83, 83, 0.8);
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    line-height: 22px;
    font-weight: bold;
    color: rgba(84, 83, 83, 0.8);
}

.custom-submit-button {
    width: 100%;
    background-color: rgba(3, 24, 251, 0.772);
    color: #f6f2f2d9;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    border: none;
    font-weight: bold;
}

.custom-submit-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.custom-submit-button:hover:not(:disabled) {
    background-color: #8cbff5;
}

.link-text {
    color: rgba(84, 83, 83, 0.8);
    font-size: 16px;
    text-align: center;
    margin: 7% auto 0;
}

.jump_link {
    display: block;
    color: rgba(3, 24, 251, 0.772);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 7%;
}
