html,
body {
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header__inner {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}

.top_logo {
    width: 50%;
    font-size: 2rem;
    padding: 2px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.header_nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 5%;
}

.header_nav a {
    text-decoration: none;
    background: none;
    border: none;
    padding: 6px;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 15px;
}

.header_nav a:hover {
    color: #8cbff5;
    background-color: transparent;
}

.logout_button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 6px;
}

.logout_button:hover {
    color: #8cbff5;
    background-color: transparent;
}

.main_section {
    width: 94%;
    flex: 1;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f7d8;
    margin: 0 3%;
}

.main_section > * {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: white;
    color: black;
    font-size: 0.7rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
