.employee_table {
    width: 90%;
    background-color: #f4f7d8;
    margin: 0 5%;
    padding: 16px 0;
}

.employee_table_list {
    margin: 1% 10%;
    background-color: #f4f7d8;
}

.user_list {
    font-size: 1rem;
    font-weight: bold;

}

/* テーブルのスタイル */
.list {
    width: 80%;
    border-collapse: collapse;
    margin: 6%;
    font-size: 0.8rem;
}


.employee_list_name {
    text-align: center;
}

.employee_user_name {
    border-bottom: 1px solid rgb(119, 118, 118);
    border-top: 1px solid rgb(119, 118, 118);
    padding: 12px;
    padding-left: 16%;
    text-align: left;
}

.employee_list,
.employee_table_list th {
    border-bottom: 1px solid rgb(119, 118, 118);
    padding: 10px;
    text-align: center;
}

.employee_table_list {
    padding: 10px;
    text-align: center;
}

.employee_table_list th {
    text-align: center;
}

.employee_table_list a {
    text-decoration: none;
    color: blue;
    font-size: 0.8rem;
}

/* bootstrapのページネーションのスタイル */
.custom-count-pagination {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.custom-count-pagination .page-item {
    display: inline-block;
    margin: 0 1px;
}

.custom-count-pagination .page-link {
    padding: 5px 8px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(119, 118, 118);
    font-size: 0.7rem;
    background-color: white;
}

.custom-count-pagination .page-item.active .page-link {
    background-color: blue;
    color: white;
    border-color: blue;
}

.custom-count-pagination .page-link:hover {
    background-color: #8cbff5;
}