.index_edge {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    font-size: 24px;
    color: #000;
    text-align: center;
}

.alert {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}

.greeting {
    margin: 20px 0 10px 0;
}

.attendance-button {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 80px 60px;
}

.index_edge .attendance-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.index_edge .attendance-records {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 5px;
    margin: 10px 10px;
}

.index_edge .start_work,
.index_edge .end_break {
    background-color: white;
    color: #c2c4b2;
}

.index_edge .end_work,
.index_edge .break_records {
    background-color: white;
    color: black;
}

.index_edge .attendance-button:hover:not(:disabled) {
    background-color: #8cbff5;
}
