.index_edge {
    width: 100%;
    background-color: #f4f7d8;
    max-width: 90%;
    padding: 10px 10px 40px 10px;
    margin: 1% 5%;
    font-size: 1.2rem;
    color: #000;
    text-align: center;
}

.greeting,.alert {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.attendance-button {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 70px 10px;
    transition: background-color 0.3s ease;
}

.index_edge .attendance-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.index_edge .attendance-records {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 5px;
    margin: 10px 10px;
}

.index_edge .start_work,
.index_edge .end_break {
    background-color: white;
    color: #c2c4b2;
}

.index_edge .end_work,
.index_edge .break_records {
    background-color: white;
    color: black;
}

.index_edge .attendance-button:hover:not(:disabled) {
    background-color: #8cbff5;
}
